#include <graphics.h>
#include <conio.h>

#define SCREEN_WIDTH 640
#define SCREEN_HEIGHT 480
#define CIRCLE_RADIUS 50

int main() {
    int gd = DETECT, gm;
    initgraph(&gd, &gm, "");

    int x = SCREEN_WIDTH / 2;
    int y = SCREEN_HEIGHT / 2;

    while (1) {
        if (kbhit()) {
            char ch = getch();

            switch (ch) {
                case 'a':
                    x -= 10;
                    break;
                case 'd':
                    x += 10;
                    break;
                case 'w':
                    y -= 10;
                    break;
                case 's':
                    y += 10;
                    break;
                case 27:
                    closegraph();
                    return 0;
            }
        }

        cleardevice();
        setcolor(WHITE);
        circle(x, y, CIRCLE_RADIUS);
        delay(10);
    }

    return 0;
}
